
.admin-main-page{
   text-align: center;
}

.admin-main-page .options{
    display: flex;
    justify-content: center;
}

.admin-main-page .tile{
    padding: 70px;
    border: solid 1px;
    margin: 100px;
}

.manage-users-page h1{
    text-align: center;
}

.manage-users-page .content{
    display: flex;
    margin: 0 100px;
}

.manage-users-page .fields{
}

.manage-users-page .register-page{
    margin-left: 300px;
}


.manage-users-page td{
    padding: 5px;
    text-align: center;
}

