
.admin-main-page{
   text-align: center;
}

.admin-main-page .options{
    display: flex;
    justify-content: center;
}

.admin-main-page .tile{
    padding: 70px;
    border: solid 1px;
    margin: 100px;
}

.manage-users-page h1{
    text-align: center;
}

.manage-users-page .content{
    display: flex;
    justify-content: space-around;
}



.manage-users-page td{
    padding: 5px;
    text-align: center;
}

