

.footer{
    padding: 25px;
    display: flex;
    background-color: rgb(31, 31, 31);
    color: rgb(224, 220, 220);
    
    
}

.footer-column{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-column h1{
    color: rgb(21, 98, 199);
}

.footer-content{

}