

.footer{
    padding: 25px;
    display: flex;
    background-color: rgb(18, 2, 73);
    color: rgb(224, 220, 220);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    
}

.footer-column{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-column h1{
    color: #57e605;
}

.footer-content{

}