

.main-img{
    width: 80%;
    margin: 0 10%;
}

.reservation-panel{
    display: flex;
    background-color: white;
    position: absolute;
    top: 30%;
    left: 45%;
}

.reservation-panel-tile{
    padding: 3px;
    border: solid 1px;
}

.select-lang{
    display: flex;
    position: absolute;
    top: 120px;
    right: 50px;
}

.lang-icon img{
    border: 1px solid;
    margin: 5px;
    width: 50px;
    height: 30px;
}