body{
    margin: 0;
    padding: 0;
}

.main-img{
    /* max-height: 900px; */
    width: 80%;
    margin: 0 10%;
}

.reservation-panel{
    display: flex;
    
    background-color: white;
    position: absolute;
    top: 30%;
    left: 45%;
}

.reservation-panel-tile{
    padding: 3px;
    border: solid 1px;
}

