body{
  margin: 0;
  padding: 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

#root{
  min-height: 100vh;
  display:flex;
  flex-direction:column;
}

.navbar {
  font-family: 'Roboto', sans-serif;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: rgb(248, 246, 246);
    padding: 10px 20px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1); /* Cień */

  }

  .navbar-item{
    margin: 0 230px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(8, 8, 53);
  }

  .navbar .logo{
    max-width: 100px;
  }

  a{
    text-decoration: none;
  }

  .navbar-item .Dropdown-root {
    padding: 10px;
    border: 1px solid rgb(248, 246, 246);
    border-radius: 4px;
    cursor: pointer;
  }
  
  .navbar-item .Dropdown-option {
    background-color: rgb(248, 246, 246);
    color: #333;
    cursor: pointer;
  }
  
  .navbar-item .Dropdown-control{
    background-color: rgb(248, 246, 246);
    border: none;
  }

  .navbar-item .Dropdown-option:hover {
    background-color: #f0f0f0;
  }
  
  .navbar-item .Dropdown-placeholder {
    color: #000000;
  }