
.room-desc{
    display: flex;
    margin-bottom: 50px;
    margin-top: 40px;
    margin-left: 70px;
    font-family: Arial, sans-serif;
}

.room-desc h1{
    font-size: 60px;
    text-align: center;
}

.room-desc .first-row{
    margin-right: 200px;
}

.room-desc .second-row{
    margin-right: 100px;
}

.room-desc .second-row .desc{
    font-size: 18px;
    text-align: center;
    margin-bottom: 100px;
}

.room-desc .second-row .price{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #000000;
}

.room-desc .second-row .capacity{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.room-desc .second-row .pick-date{
    display: flex;
    flex-direction: column;

}

.room-desc .second-row .date{
    display: flex;
    justify-content: space-around;
}

.room-desc .second-row .date label{
    text-align: center;
    font-size: 22px;
}

.room-desc .second-row .error{
    text-align: center;
    color: red;
}



.room-desc img{
    width: 1000px;
    height: 700px;
    border-radius: 30px;
    object-fit: cover;
}

.react-datepicker {
    font-family: Arial, sans-serif;
  }
  
.react-datepicker__input-container input, input, select {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
}
  
.react-datepicker__input-container input:focus {
    outline: none;
    border-color: #007bff;
}
  
.react-datepicker__calendar-container {
    font-family: Arial, sans-serif;
}
  
.react-datepicker__header {
    background-color: #007bff;
    color: white;
}
  
.react-datepicker__day {
    color: black;
}
  
.react-datepicker__day--selected {
    background-color: #007bff;
    color: white;
}


.contact-page{
    margin-left: 100px;
}

.contact-page h1{
    font-size: 45px;
}

.contact-page p{
    font-size: 20px;
}


.summary-container {
   margin-left: 100px;
    padding: 20px;
}

.summary-container h1 {
    font-size: 44px;
    margin-bottom: 20px;
}

.summary-container p {
    font-size: 22px;
    margin-bottom: 10px;
    padding: 5px;
}