
.rooms-page{
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rooms-page .main-content{
    display: flex;
}

.rooms-page h1{
    color: rgb(8, 46, 97);
    font-size: 50px;
    text-align: center;
}

.rooms-page .rooms-list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.rooms-page .room-card{
    display: flex;
    flex-direction: column;
    margin: 40px;
    border: solid 1px;
}

.rooms-page .room-card img{
    width: 450px;
    height: 300px;
    object-fit: cover;
}

.rooms-page .room-card button{
    font-size: 25px;

    background-color: #23225e;
    color: #ffffff;
    
    padding: 10px 10px;
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.rooms-page .room-card p{
    text-align: center;
    font-size: 40px;
    margin: 0;
}

.rooms-page .room-card button:hover{
    background-color: #232291;
}

.rooms-page .room-card .star{
    width: 40px;
    height: 40px;
    margin-left: 6px;
}

.rooms-page .room-card .rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.rooms-page .search-input{
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 16px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.rooms-page .pagination div{
    font-size: 25px;
    color: #23225e;
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination div.active {
    background-color: #ccc;
}

.filter-panel{
    display: flex;
    flex-direction: column;
    width: 315px;
}
